<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <title>Países do Mundo</title>
</head>
<body>
    <header class="rodape">
        <div class="titulorodape">
            <img height="100%" src="/Images/logo-onu.png" alt="logo ONU">
            <div class="blocotitulo">
                <h1 class="titulo">Países Do Mundo</h1>
                <div class="blocoimgapi">
                    <a href="https://servicodados.ibge.gov.br/api/docs/paises" hreflang="pt-br" target="_blank">
                        <img src="/Images/api-image.png" alt="api" height="70em">
                    </a>
                    <a href="https://github.com/BrugoAmorim" target="_blank">    
                        <img src="/Images/logo-github.png" height="55em" alt="logo do github">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <article class="corpo">
        <div class="conteudo">
            <div class="buscarpais">
                <form class="input-group mb-3" action="/paisesdomundo" method="post">
                    <input name="nomePais" type="text" placeholder="Busque um país pelo nome" class="form-control">
                    <button class="btn btn-success">Buscar</button>
                </form>
            </div>
            <div class="containerpaises">
                <div class="listapaises">
                    {{#each colecao}}
                    <div class="blocopais">
                        <div class="Pais-Capital">
                            <div class="Pais">
                                <span class="lead">{{Nome.Pais}}</span>
                            </div>
                        </div>
                        <div class="info-adicionais">
                            <div class="sigla-moeda-abreviado">
                                <div class="sigla-abreviado">
                                    <strong>
                                        Abreviado/Capital:
                                    </strong>
                                    <p>
                                        {{Nome.Sigla}} / {{Capital}}
                                        <!-- sigla e abreaviacao do país-->
                                    </p>
                                </div>
                                <div class="moeda">
                                    <strong>Moeda:</strong>
                                    <p>
                                        {{Moeda}}
                                        <!-- campo da moeda -->
                                    </p>
                                </div>
                            </div>
                            <div class="bloco-area-linguas">
                                <div class="area">
                                    <strong>Área:</strong>
                                    <p>
                                        {{Area}}
                                        <!-- campo para valor da area -->
                                    </p>
                                </div>
                                <div class="linguas">
                                    <div class="bloco-linguas">
                                        <strong>Línguas:</strong>
                                        <p>
                                            {{#Linguas}}
                                                {{Lingua}},
                                            {{/Linguas}}
                                            <!-- local aonde fica as linguas do pais -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="localizacao">
                                <div class="regiao">
                                    <strong>Região:</strong>
                                    <span>
                                        {{Localizacao.Regiao}}
                                        <!-- regiao do pais -->
                                    </span>
                                </div>
                                <div class="subregiao">
                                    <strong>Sub-Região:</strong>
                                    <span>
                                        {{Localizacao.SubRegiao}}
                                        <!-- sub regiao do pais--->
                                    </span>
                                </div>
                                <div class="regiao-intermediaria">
                                    <strong>Região Intermediária:</strong>
                                    <span>
                                        {{Localizacao.RegiaoIntermediaria}}
                                        <!-- regiao intermediaria do pais-->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </article>
    <footer class="informacoes">
        <div class="blocodev">
            <h1 class="lead">Desenvolvido por &reg;BrugoAmorim, 2022</h1>
        </div>
    </footer>
    <script>
    </script>
</body>
</html>